<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free Text Sentiment Analysis</title>
</head>
<body>
<form onsubmit="return Client.handleSubmit(event)">
    <label for="text-box" id="enter-text">Enter your text here:</label>
    <textarea id="text-box" cols="30" rows="10"></textarea>
    <button type="submit" id="sub-button" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Submit</button>
</form>
<table id="nlp-response">
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
</table>
</body>
</html>